# PostgreSQL

POSTGRES_DB=rental_db
POSTGRES_USER=rental_user
POSTGRES_PASSWORD=rental_password
POSTGRES_PORT=5432

# pgAdmin

PGADMIN_EMAIL=admin@rental.local
PGADMIN_PASSWORD=admin123
PGADMIN_PORT=5050

# Redis

REDIS_PORT=6379

# MinIO

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123

MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

# Mailpit

MAILPIT_SMTP_PORT=1025
MAILPIT_UI_PORT=8025

# JWT
JWT_SECRET=CHANGE_THIS_TO_A_LONG_RANDOM_SECRET

# Spring Boot

DB_HOST=localhost
DB_PORT=5432

# Active Profile

SPRING_PROFILES_ACTIVE=dev