# Database

POSTGRES_DB=rental_db
POSTGRES_USER=rental_user
POSTGRES_PASSWORD=rental_password


# JWT

JWT_SECRET=change_this_secret


# MinIO

MINIO_ROOT_USER=minio_admin
MINIO_ROOT_PASSWORD=minio_password


# Redis

REDIS_HOST=redis
REDIS_PORT=6379


# Mail

MAIL_HOST=mailpit
MAIL_PORT=1025